.navContainer {
  display: flex;
  flex-direction: row;
  background-color: #111010;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding-top: 10px;
  background: #ffffff00;
  padding-bottom: 5px;
  gap: 30px;
}  

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
  transition: all 0.15s ease-in-out;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(90deg, rgba(36, 6, 29, 0.849) 0%, rgba(2, 15, 22, 0.808) 100%) ;}  
.navup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 50px;
  transition: all 0.15s ease-in-out;
  justify-content: center;
  justify-items: center;
  background: #ffffff00;
}  
.navMiddle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: all 0.15s ease-in-out;
  justify-content: center;
  justify-items: center;
  font-size: 12px;
  font-weight: 500;
}
.navLeft {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  gap: 20px;
  transition: all 0.15s ease-in-out;
  justify-content: left;
  justify-items: center;
  font-size: 10px;
  font-weight: 500;
  margin-left: 100px;
}
.navRight {
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 10%;
  margin-right: 100px;
  transition: all 0.15s ease-in-out;
  justify-content: right;
  justify-items: right;

}

.button {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding: 10px;
  color: #818183;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  border: #18191e;
  background-color: #ffffff00;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.button2 {
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  background: linear-gradient(90deg, rgba(97, 14, 79, 0.699) 0%, rgba(14, 165, 29, 0.164) 100%) ;
  padding: 10px 20px 10px 20px;
  color: #818183;
  line-height: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  border: #18191e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: left;
  align-items: left;
  border-radius: 5px;
  min-width: 120px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #4d4e4d31;
  border-radius: 5px;
  letter-spacing: 0.1px;
  background: linear-gradient(90deg, rgba(56, 8, 46, 0.849) 0%, rgba(3, 29, 44, 0.808) 100%) ;
  padding: 5px;
  color: #818183;
  margin: 5px;

}
.gradientText {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  background: #ffffff00;
  padding: 10px;
  color: #a6a6a8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  border: #18191e;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 10px;
 
}
.gradientText2 {
  background: #9e9ea1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  font-style: normal;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdowentexttop {
  background: #adadaf;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 1000px) {
  .nav {
    display: none !important;
  }
}
